<h1><%= @employee.new_record? ? "Add Employee" : "Edit Employee Profile" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render "share/employee/form" %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $("#employee_user_organization_attributes_organization_id").on('change',function(){
      var org_id = $(this).val();
      var employee_id = <%= @employee.id %>
      console.log("org_id",org_id)
      console.log("employee_id",employee_id)
      $.ajax({
        type: 'get',
        url: '/superadmin/employees/get_departments.js',
        data: {
          'organization_id': org_id,
          'employee_id': employee_id
        },
        success: function(response){
          console.log("res", response)
        }
      });
    });
    $("#employee_user_organization_attributes_organization_id").trigger('change');
  });
</script>
